body{
    background-color:rgb(160, 20, 79)
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:160px;
}


#logotext{
    color:white;
    font-size:100px;
}

#searchInput{
    margin-top: 60px;
    padding-left: 20px;
    width: 540px;
    height: 44px;
    border-radius: 50px;
}

#layout{
    width: 112px;
    height: 112px;
}

.bookmarkZone{
    display:flex;
}